.rsvp{
    float: right;
    background-color: #306075;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
.edit{
    float: right;
    background-color: #306075;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
.event-cards-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}
.event-card-col {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
}
